@{
    var version = System.Environment.GetEnvironmentVariable("VERSION");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="version" content="@version" />
    <title>@ViewData["Title"] - Color Display</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    @RenderSection("CssRootColors", required: false)
</head>    
@{
    var activeHome =  ViewData["ActivePage"].ToString() == "home"  ? "active" : "";
    var activeColor = ViewData["ActivePage"].ToString() == "color" ? "active" : "";
}
<body>
<header>
    <div class="container container-header">
        <div class="row">
            <div class="column">
                <nav class="navbar">
                    <ul>
                        <li class="@activeHome">
                            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li><li class="@activeColor">
                            <a asp-area="" asp-controller="Color" asp-action="Index">Color</a>
                        </li>
                    </ul>
                    <input id="colorHex" type="text" value="ff00ff" placeholder="ffffff" /><input class="button" type="submit" value="Go" onclick = "location.href = '/color/' + document.getElementById('colorHex').value;return false;" />
                </nav>
            </div>
        </div>
    </div>
</header>

<main role="main">
    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>
</main>

<footer>
    <div class="container">
        
    </div>
</footer>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
